<section class="welcome">
    <h1>
        <a href="/">
            Lilly Piri
        </a>
    </h1>
  </section>
  
  <section class="main-nav">
    <a href="/biography">Biography</a> 
    &middot;
    <a href="/paintings">Paintings</a>
    &middot;
    <a href="/drawings">Drawings</a>
    &middot;
    <a href="/news">News</a>
    &middot;
    <a href="/contact">Contact</a>
  </section>