body * {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: #f9f9f9;
}

.main-nav {
  color: black;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 40px;

  a {
   text-decoration: none;
   color: #666;
   margin: 0 3px;
   
   &:hover {
     text-decoration: underline;
   }
  }
}

.welcome {
  margin: 0 auto 5px auto;
  position: relative;

  & > h1 {
    width: 100%;
    text-align: center;
    font-size: 34px;
    line-height: 40px;
    margin: 60px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    color: rgb(22, 48, 87);

    @media screen and (max-width: 440px) {
      font-size: 30px;
    }

    a {
      text-decoration: none;
    }
  }

  & > p {
    font-size: 22px;
    line-height: 26px;
    color: #222;
    margin: 0 auto 20px auto;
    padding: 0;
    max-width: 700px;
    font-family: 'Work Sans', sans-serif;

    @media screen and (max-width: 440px) {
      font-size: 16px;
      line-height: 20px;
      max-width: 100%;
      padding: 0 20px;
    }
  }

  a {
    color: black;
  }
}

img {
  max-width: 960px;
  margin: auto;
  border-radius: 2px;
  display: block;

  @media only screen and (max-width: 440px) {
    width: 100%;
    padding: 0 20px;
  }
}

p {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}
