<!DOCTYPE html>
<html lang="en-AU">

<head>
  <title>Lilly Piri</title>
  <meta property="og:title" content="Lilly Piri" />
  <meta name="description" content="Lilly Piri is an Australian artist. Her work has been exhibited in galleries throughout Australia, Europe and the USA."
  />
  <meta property="og:description" content="Lilly Piri is an Australian artist. Her work has been exhibited in galleries throughout Australia, Europe and the USA."
  />
  <meta property="og:image" content="https://lillypiri.com/paintings/PIRI_L_Patience.jpg" />
  <meta property="og:url" content="https://lillypiri.com" />
  <meta name="author" content="Lilly Piri" />

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <link type="image/png" href="/icon.png" rel="icon" />
</head>

<body>

  <%- include('header') %>

    <img src="PIRI_L_Working_Remotely.jpg">
    <p>
      <i>Working Remotely</i>
    </p>
    <p>2020, Acrylic on Canvas, 510 x 760 mm</p>
    <%- include('footer') %>

</body>

</html>